#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dragArea{
  background: rgb(128, 43, 43);
  height: 100px;
  width: 100%;
  border: dashed 2px white;
  border-radius: 10px;
  padding: 10px;
}

.img{
  width: 200px;
}